<ion-content>
  <ion-button (click)="logout()" fill="clear" class="logout-button">
    <ion-icon name="log-out"></ion-icon>
    Cerrar sesión
  </ion-button>
  
  <div class="home-container">
    <ion-button 
      *ngIf="mostrarBotonRegistro && !esBartender && !esCocinero" 
      expand="block" 
      class="boton-registro-verde"
      (click)="irARegistro()">
      Registro
    </ion-button>

    <ion-button 
      *ngIf="esBartender || esCocinero" 
      expand="block" 
      class="boton-registro-productos"
      (click)="irARegistro()">
      <ion-icon name="restaurant-outline"></ion-icon>
      Registrar Producto
    </ion-button>

    <ion-button 
      *ngIf="perfilUsuario === 'maitre'" 
      expand="block" 
      class="boton-lista-espera"
      (click)="irAListaEspera()">
      <ion-icon name="list-outline"></ion-icon>
      Lista de Espera
    </ion-button>

    <ion-button 
      *ngIf="perfilUsuario === 'cliente'" 
      expand="block" 
      class="boton-encuesta"
      (click)="irAEncuesta()">
      <ion-icon name="clipboard-outline"></ion-icon>
      Encuesta de Satisfacción
    </ion-button>

    <ion-button 
      *ngIf="perfilUsuario === 'cliente' && isSupported" 
      expand="block" 
      class="boton-escanear-qr"
      (click)="scanQR()">
      <ion-icon name="qr-code-outline"></ion-icon>
      Escanear QR para Lista de Espera
    </ion-button>
  </div>
</ion-content>